{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Criar Nova Senha{% endblock %}

{% block extra_head %}
    {# Importa o CSS específico para esta página #}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login/password_reset_from_key.css' %}">
{% endblock %}


{% block content %}
<div class="container reset-from-key-container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card reset-from-key-card">
                <div class="card-body">
                    {% if token_fail %}
                        <h3 class="card-title text-center mb-4 text-danger">Link Inválido</h3>
                        <p class="text-muted text-center">
                            O link para redefinição de senha que você usou é inválido ou já expirou. Por favor, tente <a href="{% url 'account_reset_password' %}">solicitar um novo link</a>.
                        </p>
                    {% else %}
                        <h3 class="card-title text-center mb-4">Crie sua Nova Senha</h3>
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid mt-3">
                                <button class="btn btn-primary" type="submit">Salvar Nova Senha</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}