{% extends "account/base.html" %}
{% load static allauth i18n crispy_forms_tags %}

{% block title %}
    {% trans "Change Password" %} - EsporteFY
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/email_change.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="manage-account-layout">

    <div class="account-menu-container">
        <ul class="account-menu">
            <li><a href="{% url 'account_email' %}">{% trans "Alterar e-mail" %}</a></li>
            <li><a href="{% url 'account_change_password' %}" class="active">{% trans "Alterar senha" %}</a></li>
            <li><a href="{% url 'socialaccount_connections' %}">{% trans "Conexões de conta" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sair" %}</a></li>
        </ul>
    </div>

    <div class="email-container">
        <div class="email-card">
            <h2>{% trans "Change Password" %}</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="post" class="add-email-form">
                {% csrf_token %}
                
                {{ form|crispy }}

                <div class="form-actions">
                    <a href="{% url 'perfis:meu_perfil' %}" class="btn btn-outline">Cancelar</a>
                    <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}